= simple_form_for(@note) do |f|
  = f.error_notification

  .form-inputs
    = f.input :text
    = f.input :user_id, as: :hidden, input_html: {value: @user.id}
    %div
      .pull-left= f.input :public
      .pull-right= f.button :submit
      .clearfix
