= simple_form_for(@checkin) do |f|
  = f.error_notification

  .form-inputs
    = f.input :notes
    = f.input :short_term_goal

  .form-actions
    = f.input :user_id, as: :hidden, input_html: {value: @user.id}
    = f.button :submit
